# Review of pandas DataFrames

## Inspecting your data

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('WorldBank.csv')

In [5]:
df.head()

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
0,Arab World,ARB,1960,9.249590e+07,31.285384
1,Caribbean small states,CSS,1960,4.190810e+06,31.597490
2,Central Europe and the Baltics,CEB,1960,9.140158e+07,44.507921
3,East Asia & Pacific (all income levels),EAS,1960,1.042475e+09,22.471132
4,East Asia & Pacific (developing only),EAP,1960,8.964930e+08,16.917679

In [7]:
df.tail()

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
13369,Virgin Islands (U.S.),VIR,2014,104170.0,95.203
13370,West Bank and Gaza,WBG,2014,4294682.0,75.026
13371,"Yemen, Rep.",YEM,2014,26183676.0,34.027
13372,Zambia,ZMB,2014,15721343.0,40.472
13373,Zimbabwe,ZWE,2014,15245855.0,32.501

## DataFrame data types

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13374 entries, 0 to 13373
Data columns (total 5 columns):
CountryName                      13374 non-null object
CountryCode                      13374 non-null object
Year                             13374 non-null int64
Total Population                 13374 non-null float64
Urban population (% of total)    13374 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 522.5+ KB

## NumPy and pandas working together

- Import numpy using the standard alias np.
- Assign the numerical values in the DataFrame df to an array np_vals using the attribute values.
- Pass np_vals into the NumPy method log10() and store the results in np_vals_log10.
- Pass the entire df DataFrame into the NumPy method log10() and store the results in df_log10.
- Inspect the output of the print() code to see the type() of the variables that you created.

In [17]:
# Import numpy
import numpy as np

df = pd.read_csv('world_condensed.csv')

# Create array of DataFrame values: np_vals
np_vals = df.values

# Create new array of base 10 logarithm values: np_vals_log10
np_vals_log10 = np.log10(np_vals)

# Create array of new DataFrame by passing df to np.log10(): df_log10
df_log10 = np.log10(df)

# Print original and new data containers
[print(x, 'has type', type(eval(x))) for x in ['np_vals', 'np_vals_log10', 'df', 'df_log10']]

np_vals has type <class 'numpy.ndarray'>
np_vals_log10 has type <class 'numpy.ndarray'>
df has type <class 'pandas.core.frame.DataFrame'>
df_log10 has type <class 'pandas.core.frame.DataFrame'>

[None, None, None, None]

# Building DataFrames from scratch

## Zip lists to build a DataFrame

- Zip the 2 lists list_keys and list_values together into one list of (key, value) tuples. Be sure to convert the zip object into a list, and store the result in zipped.
- Inspect the contents of zipped using print(). This has been done for you.
- Construct a dictionary using zipped. Store the result as data.
- Construct a DataFrame using the dictionary. Store the result as df.

In [23]:
list_keys = ['Country', 'Total']
list_values = [['United States', 'Soviet Union', 'United Kingdom'], [1118, 473, 273]]

# Zip the 2 lists together into one list of (key,value) tuples: zipped
zipped = list(zip(list_keys, list_values))

# Inspect the list using print()
print(zipped)

# Build a dictionary with the zipped list: data
data = dict(zipped)

# Build and inspect a DataFrame from the dictionary: df
df = pd.DataFrame(data)
print(df)

[('Country', ['United States', 'Soviet Union', 'United Kingdom']), ('Total', [1118, 473, 273])]
          Country  Total
0   United States   1118
1    Soviet Union    473
2  United Kingdom    273

## Labeling your data

Create a list of new column labels with 'year', 'artist', 'song', 'chart weeks', and assign it to list_labels.
Assign your list of labels to df.columns.

In [27]:
data = {'a': {0: '1980', 1: '1981', 2: '1982'},
 'b': {0: 'Blondie', 1: 'Chistorpher Cross', 2: 'Joan Jett'},
 'c': {0: 'Call Me', 1: 'Arthurs Theme', 2: 'I Love Rock and Roll'},
 'd': {0: '6', 1: '3', 2: '7'}}

df = pd.DataFrame(data)

df.head()

      a                  b                     c  d
0  1980            Blondie               Call Me  6
1  1981  Chistorpher Cross         Arthurs Theme  3
2  1982          Joan Jett  I Love Rock and Roll  7

In [28]:
list_labels = ['year', 'artist', 'song', 'chart weeks']

df.columns = list_labels

df.head()

   year             artist                  song chart weeks
0  1980            Blondie               Call Me           6
1  1981  Chistorpher Cross         Arthurs Theme           3
2  1982          Joan Jett  I Love Rock and Roll           7

## Building DataFrames with broadcasting

* Make a string object with the value 'PA' and assign it to state.
* Construct a dictionary with 2 key:value pairs: 'state':state and 'city':cities.
* Construct a pandas DataFrame from the dictionary you created and assign it to df

In [30]:
cities = ['Manheim',
 'Preston park',
 'Biglerville',
 'Indiana',
 'Curwensville',
 'Crown',
 'Harveys lake',
 'Mineral springs',
 'Cassville',
 'Hannastown',
 'Saltsburg',
 'Tunkhannock',
 'Pittsburgh',
 'Lemasters',
 'Great bend']

In [31]:
# Make a string with the value 'PA': state
state = 'PA'

# Construct a dictionary: data
data = {'state':state, 'city':cities}

# Construct a DataFrame from dictionary data: df
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

               city state
0           Manheim    PA
1      Preston park    PA
2       Biglerville    PA
3           Indiana    PA
4      Curwensville    PA
5             Crown    PA
6      Harveys lake    PA
7   Mineral springs    PA
8         Cassville    PA
9        Hannastown    PA
10        Saltsburg    PA
11      Tunkhannock    PA
12       Pittsburgh    PA
13        Lemasters    PA
14       Great bend    PA

# Importing & exporting data

## Reading a flat file

- Use pd.read_csv() with the string data_file to read the CSV file into a DataFrame and assign it to df1.
- Create a list of new column labels - 'year', 'population' - and assign it to the variable new_labels.
- Reread the same file, again using pd.read_csv(), but this time, add the keyword arguments header=0 and names=new_labels. Assign the resulting DataFrame to df2.
- Print both the df1 and df2 DataFrames to see the change in column names. This has already been done for you.

In [33]:
# Read in the file: df1
df1 = pd.read_csv('world_population.csv')

# Create a list of the new column labels: new_labels
new_labels = ['year', 'population']

# Read in the file, specifying the header and names parameters: df2
df2 = pd.read_csv('world_population.csv', header=0, names=new_labels)

# Print both the DataFrames
print(df1)
print(df2)

   Year  Total Population
0  1960      3.034971e+09
1  1970      3.684823e+09
2  1980      4.436590e+09
3  1990      5.282716e+09
4  2000      6.115974e+09
5  2010      6.924283e+09
   year    population
0  1960  3.034971e+09
1  1970  3.684823e+09
2  1980  4.436590e+09
3  1990  5.282716e+09
4  2000  6.115974e+09
5  2010  6.924283e+09

## Delimiters, headers, and extensions

- Use pd.read_csv() without using any keyword arguments to read file_messy into a pandas DataFrame df1.
- Use .head() to print the first 5 rows of df1 and see how messy it is. Do this in the IPython Shell first so you can see how modifying read_csv() can clean up this mess.
- Using the keyword arguments delimiter=' ', header=3 and comment='#', use pd.read_csv() again to read file_messy into a new DataFrame df2.
- Print the output of df2.head() to verify the file was read correctly.
- Use the DataFrame method .to_csv() to save the DataFrame df2 to the variable file_clean. Be sure to specify index=False.
- Use the DataFrame method .to_excel() to save the DataFrame df2 to the file 'file_clean.xlsx'. Again, remember to specify index=False.

In [35]:
file_messy = 'messy_stock_data.tsv'
file_clean = 'clean_stock_data.csv'

In [38]:
# Read the raw file as-is: df1
df1 = pd.read_csv(file_messy)

# Print the output of df1.head()
print(df1.head())

# Read in the file with the correct parameters: df2
df2 = pd.read_csv(file_messy, delimiter=' ', header=3, comment='#')

# Print the output of df2.head()
print(df2.head())

# Save the cleaned up DataFrame to a CSV file without the index
df2.to_csv(file_clean, index=False)

# Save the cleaned up DataFrame to an excel file without the index
df2.to_excel('file_clean.xlsx', index=False)

                                                   The following stock data was collect on 2016-AUG-25 from an unknown source
These kind of comments are not very useful                                                  are they?
Probably should just throw this line away too          but not the next since those are column labels
name Jan Feb Mar Apr May Jun Jul Aug Sep Oct No...                                                NaN
# So that line you just read has all the column...                                                NaN
IBM 156.08 160.01 159.81 165.22 172.25 167.15 1...                                                NaN
     name     Jan     Feb     Mar     Apr     May     Jun     Jul     Aug  \
0     IBM  156.08  160.01  159.81  165.22  172.25  167.15  164.75  152.77
1    MSFT   45.51   43.08   42.13   43.47   47.53   45.96   45.61   45.51
2  GOOGLE  512.42  537.99  559.72  540.50  535.24  532.92  590.09  636.84
3   APPLE  110.64  125.43  125.97  127.29  128.76  127.81  125.34  113.39

      Sep     Oct     Nov     Dec
0  145.36  146.11  137.21  137.96
1   43.56   48.70   53.88   55.40
2  617.93  663.59  735.39  755.35
3  112.80  113.36  118.16  111.73

# Plotting with pandas