# Summary statistics

In [24]:
import pandas as pd
import numpy as np
sales = pd.read_csv('datasets/sales.csv')

## Mean and median

In [25]:
# Print the head of the sales DataFrame
print(sales.head())

# Print the info about the sales DataFrame
print(sales.info())

# Print the mean of weekly_sales
print(sales['weekly_sales'].mean())

# Print the median of weekly_sales
print(sales['weekly_sales'].median())

   store type  department        date  weekly_sales  is_holiday  \
0      1    A           1  2010-02-05      24924.50       False
1      1    A           1  2010-03-05      21827.90       False
2      1    A           1  2010-04-02      57258.43       False
3      1    A           1  2010-05-07      17413.94       False
4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 9 columns):
store                   10774 non-null int64
type                    10774 non-null object
department              10774 non-null int64
date                    10774 non-null object
weekly_sales            10774 non-null float64
is_holiday              10774 non-null bool
temperature_c           10774 non-null float64
fuel_price_usd_per_l    10774 non-null float64
unemployment            10774 non-null float64
dtypes: bool(1), float64(4), int64(2), object(2)
memory usage: 684.0+ KB
None
23843.950148505668
12049.064999999999

## Summarizing dates

In [26]:
# Print the maximum of the date column
print(sales['date'].max())

# Print the minimum of the date column
print(sales['date'].min())

2012-10-26
2010-02-05

## Efficient summaries

In [27]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
print(sales["temperature_c"].agg(iqr))

16.58333333333334

## Cumulative statistics

In [28]:
sales_1_1 = pd.read_csv('datasets/sales_1_1.csv')

# Sort sales_1_1 by date
sales_1_1 = sales_1_1.sort_values('date')

# Get the cumulative sum of weekly_sales, add as cum_weekly_sales col
sales_1_1['cum_weekly_sales'] = sales_1_1['weekly_sales'].cumsum()

# Get the cumulative max of weekly_sales, add as cum_max_sales col
sales_1_1['cum_max_sales'] = sales_1_1['weekly_sales'].cummax()

# See the columns you calculated
print(sales_1_1[["date", "weekly_sales", "cum_weekly_sales", "cum_max_sales"]])

          date  weekly_sales  cum_weekly_sales  cum_max_sales
1   2010-02-05      24924.50          24924.50       24924.50
8   2010-03-05      21827.90          46752.40       24924.50
11  2010-04-02      57258.43         104010.83       57258.43
7   2010-05-07      17413.94         121424.77       57258.43
2   2010-06-04      17558.09         138982.86       57258.43
0   2010-07-02      16333.14         155316.00       57258.43
9   2010-08-06      17508.41         172824.41       57258.43
5   2010-09-03      16241.78         189066.19       57258.43
4   2010-10-01      20094.19         209160.38       57258.43
3   2010-11-05      34238.88         243399.26       57258.43
6   2010-12-03      22517.56         265916.82       57258.43
10  2011-01-07      15984.24         281901.06       57258.43

# Counting

## Dropping Duplicates

In [29]:
sales = pd.read_csv('datasets/sales.csv')

In [30]:
# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset=['store', 'type'])
print(store_types.head())

# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset=['store', 'department'])
print(store_depts.head())

# Subset the rows that are holiday weeks and drop duplicate dates
holiday_dates = sales[sales['is_holiday']].drop_duplicates(subset='date')

# Print date col of holiday_dates
print(holiday_dates['date'])

      store type  department        date  weekly_sales  is_holiday  \
0         1    A           1  2010-02-05      24924.50       False
901       2    A           1  2010-02-05      35034.06       False
1798      4    A           1  2010-02-05      38724.42       False
2699      6    A           1  2010-02-05      25619.00       False
3593     10    B           1  2010-02-05      40212.84       False

      temperature_c  fuel_price_usd_per_l  unemployment
0          5.727778              0.679451         8.106
901        4.550000              0.679451         8.324
1798       6.533333              0.686319         8.623
2699       4.683333              0.679451         7.259
3593      12.411111              0.782478         9.765
    store type  department        date  weekly_sales  is_holiday  \
0       1    A           1  2010-02-05      24924.50       False
12      1    A           2  2010-02-05      50605.27       False
24      1    A           3  2010-02-05      13740.12       False
36      1    A           4  2010-02-05      39954.04       False
48      1    A           5  2010-02-05      32229.38       False

    temperature_c  fuel_price_usd_per_l  unemployment
0        5.727778              0.679451         8.106
12       5.727778              0.679451         8.106
24       5.727778              0.679451         8.106
36       5.727778              0.679451         8.106
48       5.727778              0.679451         8.106
498     2010-09-10
691     2011-11-25
2315    2010-02-12
6735    2012-09-07
6810    2010-12-31
6815    2012-02-10
6820    2011-09-09
Name: date, dtype: object

## Counting categorical variables

In [31]:
stores = pd.read_csv('datasets/stores.csv')
departments = pd.read_csv('datasets/departments.csv')

In [32]:
# Count the number of stores of each type
store_counts = stores["store_type"].value_counts()
print(store_counts)

# Get the proportion of stores of each type
store_props = stores["store_type"].value_counts(normalize=True)
print(store_props)

# Count the number of each department number and sort
dept_counts_sorted = departments["department_num"].value_counts(sort=True)
print(dept_counts_sorted)

# Get the proportion of departments of each number and sort
dept_props_sorted = departments["department_num"].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

A    11
B     1
Name: store_type, dtype: int64
A    0.916667
B    0.083333
Name: store_type, dtype: float64
41    12
30    12
23    12
24    12
25    12
26    12
27    12
28    12
29    12
31    12
21    12
32    12
33    12
34    12
35    12
36    12
38    12
40    12
22    12
20    12
42    12
9     12
2     12
3     12
4     12
5     12
6     12
7     12
8     12
10    12
      ..
82    12
83    12
85    12
87    12
90    12
91    12
67    12
60    12
59    12
58    12
56    12
55    12
54    12
52    12
51    12
94    12
49    12
95    12
47    12
46    12
96    12
45    12
97    12
92    12
99    11
37    10
48     8
50     6
39     4
43     2
Name: department_num, Length: 80, dtype: int64
41    0.012917
30    0.012917
23    0.012917
24    0.012917
25    0.012917
26    0.012917
27    0.012917
28    0.012917
29    0.012917
31    0.012917
21    0.012917
32    0.012917
33    0.012917
34    0.012917
35    0.012917
36    0.012917
38    0.012917
40    0.012917
22    0.012917
20    0.012917
42    0.012917
9     0.012917
2     0.012917
3     0.012917
4     0.012917
5     0.012917
6     0.012917
7     0.012917
8     0.012917
10    0.012917
        ...
82    0.012917
83    0.012917
85    0.012917
87    0.012917
90    0.012917
91    0.012917
67    0.012917
60    0.012917
59    0.012917
58    0.012917
56    0.012917
55    0.012917
54    0.012917
52    0.012917
51    0.012917
94    0.012917
49    0.012917
95    0.012917
47    0.012917
46    0.012917
96    0.012917
45    0.012917
97    0.012917
92    0.012917
99    0.011841
37    0.010764
48    0.008611
50    0.006459
39    0.004306
43    0.002153
Name: department_num, Length: 80, dtype: float64

# Group Summary Statistics

In [36]:
# Calc total weekly sales
sales_all = sales["weekly_sales"].sum()

# Subset for type A stores, calc total weekly sales
sales_A = sales[sales["type"] == "A"]["weekly_sales"].sum()

# Subset for type B stores, calc total weekly sales
sales_B = sales[sales["type"] == "B"]["weekly_sales"].sum()

# Subset for type C stores, calc total weekly sales
sales_C = sales[sales["type"] == "C"]["weekly_sales"].sum()

# Get proportion for each type
sales_propn_by_type = [sales_A, sales_B, sales_C] / sales_all
print(sales_propn_by_type)

1.0000000000000004

In [39]:
# Group by type; calc total weekly sales
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

# Get proportion for each type
sales_propn_by_type = sales_by_type / sales_by_type.sum()
print(sales_propn_by_type)

type
A    0.909775
B    0.090225
Name: weekly_sales, dtype: float64

In [41]:
# From previous step
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

# Group by type and is_holiday; calc total weekly sales
sales_by_type_is_holiday = sales.groupby(['type', 'is_holiday'])['weekly_sales'].sum()
print(sales_by_type_is_holiday)

type  is_holiday
A     False         2.336927e+08
      True          2.360181e+04
B     False         2.317678e+07
      True          1.621410e+03
Name: weekly_sales, dtype: float64

## Multiple grouped summaries

In [47]:
# Import NumPy with the alias np
import numpy as np

# For each store type, aggregate weekly_sales: get min, max, mean, and median
sales_stats = sales.groupby("type")["weekly_sales"].agg([np.min, np.max, np.mean, np.median])

# Print sales_stats
print(sales_stats)

# For each store type, aggregate unemployment and fuel_price_usd_per_l: get min, max, mean, and median
unemp_fuel_stats = sales.groupby("type")[["unemployment", "fuel_price_usd_per_l"]].agg([np.min, np.max, np.mean, np.median])

# Print unemp_fuel_stats
print(unemp_fuel_stats)

        amin       amax          mean    median
type
A    -1098.0  293966.05  23674.667242  11943.92
B     -798.0  232558.51  25696.678370  13336.08
     unemployment                         fuel_price_usd_per_l            \
             amin   amax      mean median                 amin      amax
type
A           3.879  8.992  7.972611  8.067             0.664129  1.107410
B           7.170  9.765  9.279323  9.199             0.760023  1.107674


          mean    median
type
A     0.744619  0.735455
B     0.805858  0.803348

# Pivot tables

## Pivoting on one variable

In [48]:
# Pivot for mean weekly_sales for each store type
mean_sales_by_type = sales.pivot_table(values="weekly_sales", index="type")

# Print mean_sales_by_type
print(mean_sales_by_type)

      weekly_sales
type
A     23674.667242
B     25696.678370

In [49]:
# Import NumPy as np
import numpy as np

# Pivot for mean and median weekly_sales for each store type
mean_med_sales_by_type = sales.pivot_table(values="weekly_sales", index="type", aggfunc=[np.mean, np.median])

# Print mean_med_sales_by_type
print(mean_med_sales_by_type)

              mean       median
      weekly_sales weekly_sales
type
A     23674.667242     11943.92
B     25696.678370     13336.08

In [52]:
# Pivot for mean weekly_sales by store type and holiday 
mean_sales_by_type_holiday = sales.pivot_table(values="weekly_sales", index="type", columns="is_holiday")

# Print mean_sales_by_type_holiday
print(mean_sales_by_type_holiday)

is_holiday         False      True
type
A           23768.583523  590.04525
B           25751.980533  810.70500

## Fill in missing values and sum values with pivot tables

In [55]:
# Print mean weekly_sales by department and type; fill missing values with 0
print(sales.pivot_table(values="weekly_sales", index="department", columns="type", fill_value="0"))

type                    A        B
department
1            30961.725379  44050.6
2            67600.158788   112959
3            17160.002955  30580.7
4            44285.399091  51219.7
5            34821.011364  63236.9
6             7136.292652  10717.3
7            38454.336818  52909.7
8            48583.475303  90733.8
9            30120.449924  66679.3
10           30930.456364  48595.1
11           23028.312727  35488.4
12            6786.840606  9656.52
13           51398.168561  67213.6
14           22457.695303    40400
16           25202.751894  29558.2
17           16167.586136  27675.4
18           12201.771212  17361.3
19            1560.951719  3365.89
20            8312.070227  16191.8
21            9324.387197    10369
22           14225.324167  26044.8
23           29350.745076  63960.3
24            8204.587576  15376.8
25           13382.164242  20619.3
26           11254.311212  17535.5
27            2079.160455  4553.72
28             968.247348  1422.76
29            6859.108485  14999.8
30            5403.619773  12442.1
31            3221.001818  6151.99
...                   ...      ...
52            2919.754773  5360.84
54             221.288030  551.017
55           15368.005985  20420.7
56            5529.171136   992.31
58            6510.454621  5156.83
59            1358.490530  2536.54
60             461.176591   577.85
67           12064.737500  13327.7
71            7486.394318  15945.9
72           72767.860227   145238
74           22097.090152  44480.3
77             370.651316     1590
78               8.893878  1.71429
79           40643.113106    39802
80           22425.941667   116.68
81           28417.831061  11084.6
82           21698.068561  21943.5
83            7020.960985  327.012
85            3593.235379  2887.32
87           22549.672045  21829.1
90           85776.905909  14780.2
91           70423.165227  13199.6
92          139722.204773  50859.3
93           53413.633939  1466.27
94           60081.155303  161.446
95          123933.787121  77082.1
96           21367.042857  9528.54
97           28471.266970  5828.87
98           12875.423182  217.428
99             379.123659        0

[80 rows x 2 columns]

In [56]:
# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
print(sales.pivot_table(values="weekly_sales", index="department", columns="type", fill_value="0", margins=True))

type                    A        B            All
department
1            30961.725379  44050.6   32052.467153
2            67600.158788   112959   71380.022778
3            17160.002955  30580.7   18278.390625
4            44285.399091  51219.7   44863.253681
5            34821.011364  63236.9   37189.000000
6             7136.292652  10717.3    7434.709722
7            38454.336818  52909.7   39658.946528
8            48583.475303  90733.8   52095.998472
9            30120.449924  66679.3   33167.020903
10           30930.456364  48595.1   32402.512222
11           23028.312727  35488.4   24066.655764
12            6786.840606  9656.52    7025.980556
13           51398.168561  67213.6   52716.120139
14           22457.695303    40400   23952.889028
16           25202.751894  29558.2   25565.704444
17           16167.586136  27675.4   17126.566597
18           12201.771212  17361.3   12631.735903
19            1560.951719  3365.89    1715.661143
20            8312.070227  16191.8    8968.715208
21            9324.387197    10369    9411.435625
22           14225.324167  26044.8   15210.280278
23           29350.745076  63960.3   32234.872431
24            8204.587576  15376.8    8802.274375
25           13382.164242  20619.3   13985.257639
26           11254.311212  17535.5   11777.740069
27            2079.160455  4553.72    2285.373819
28             968.247348  1422.76    1006.123611
29            6859.108485  14999.8    7537.503056
30            5403.619773  12442.1    5990.158125
31            3221.001818  6151.99    3465.251250
...                   ...      ...            ...
54             221.288030  551.017     248.765417
55           15368.005985  20420.7   15789.066042
56            5529.171136   992.31    5151.099375
58            6510.454621  5156.83    6397.652847
59            1358.490530  2536.54    1456.661181
60             461.176591   577.85     470.899375
67           12064.737500  13327.7   12169.985556
71            7486.394318  15945.9    8191.349375
72           72767.860227   145238   78807.015764
74           22097.090152  44480.3   23962.359444
77             370.651316     1590     401.916667
78               8.893878  1.71429       7.996429
79           40643.113106    39802   40573.023542
80           22425.941667   116.68   20566.836528
81           28417.831061  11084.6   26973.394444
82           21698.068561  21943.5   21718.520833
83            7020.960985  327.012    6463.131875
85            3593.235379  2887.32    3534.408819
87           22549.672045  21829.1   22489.627083
90           85776.905909  14780.2   79860.514583
91           70423.165227  13199.6   65654.535000
92          139722.204773  50859.3  132316.960903
93           53413.633939  1466.27   49084.687292
94           60081.155303  161.446   55087.846181
95          123933.787121  77082.1  120029.480069
96           21367.042857  9528.54   20337.607681
97           28471.266970  5828.87   26584.400833
98           12875.423182  217.428   11820.590278
99             379.123659        0     379.123659
All          23674.667242  25696.7   23843.950149

[81 rows x 3 columns]